<h1>Dance Class Schedule: </h1>
<h2> MONDAY</h2>
<% @classes.select{|dance_class| dance_class.day == "MONDAY"}.each do |dance_class| %>
  <%= render partial: "dance_class_li", locals: {dance_class: dance_class} %>
<% end %>
